# ANN CLASSIFICATION

In [157]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [158]:
df=pd.read_csv("Churn_Modelling.csv")

In [159]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [160]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [161]:
df=df.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1)
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [162]:
label_encoder_gender=LabelEncoder()
df['Gender']=label_encoder_gender.fit_transform(df['Gender'])
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [163]:
from sklearn.preprocessing import OneHotEncoder
ohe_geo=OneHotEncoder()
geo_encoder=ohe_geo.fit_transform(df[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [164]:
ohe_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [165]:
geo_encoder_df=pd.DataFrame(geo_encoder.toarray(),columns=ohe_geo.get_feature_names_out(['Geography']))

In [166]:
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [167]:
df=pd.concat([df.drop('Geography',axis=1),geo_encoder_df],axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [168]:
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [169]:
X=df.drop(columns='Exited')
y=df['Exited']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [170]:
X

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,1.0,0.0,0.0

In [171]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [172]:
X_train.shape

(8000, 12)

In [173]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)

# ANN IMPLIMENTATION

In [174]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

In [175]:
X_train_scaled = X_train_scaled[:, :11]
X_test_scaled = X_test_scaled[:, :11]

->Define hidden layers

In [176]:
model = Sequential()

model.add(Dense(11,activation='sigmoid',input_dim=11))
model.add(Dense(11,activation='sigmoid'))
model.add(Dense(1,activation='sigmoid'))

/home/ad/anaconda3/lib/python3.13/site-packages/keras/src/layers/core/dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [177]:
model.summary()

Model: "sequential_7"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_20 (Dense)                │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_21 (Dense)                │ (None, 11)             │           132 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_22 (Dense)                │ (None, 1)              │            12 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 276 (1.08 KB)

 Trainable params: 276 (1.08 KB)

 Non-trainable params: 0 (0.00 B)

After doing this we have to do comple in which we define

->Loss function
->optimizers

In [178]:
model.compile(loss='binary_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [179]:
model.fit(X_train_scaled,y_train,epochs=100,validation_split=0.2)

Epoch 1/100

200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.7972 - loss: 0.5090 - val_accuracy: 0.7975 - val_loss: 0.4969
Epoch 2/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7972 - loss: 0.4874 - val_accuracy: 0.7975 - val_loss: 0.4769
Epoch 3/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.7972 - loss: 0.4638 - val_accuracy: 0.7975 - val_loss: 0.4553
Epoch 4/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7973 - loss: 0.4430 - val_accuracy: 0.7975 - val_loss: 0.4408
Epoch 5/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8014 - loss: 0.4311 - val_accuracy: 0.8119 - val_loss: 0.4332
Epoch 6/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8112 - loss: 0.4257 - val_accuracy: 0.8144 - val_loss: 0.4300
Epoch 7/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8167 - loss: 0.4232 - val_accuracy: 0.8163 - val_loss: 0.4278
Epoch 8/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8186 - loss: 0.4208 - val_accuracy: 0.8156 - val_loss: 0.4254
Epoch 9/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8209 - loss: 0.4188 - val_accuracy: 0.8175 - val_loss: 0.4229
Epoch 10/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8228 - loss: 0.4165 - val_accuracy: 0.8188 - val_loss: 0.4205
Epoch 11/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8253 - loss: 0.4140 - val_accuracy: 0.8200 - val_loss: 0.4176
Epoch 12/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8272 - loss: 0.4119 - val_accuracy: 0.8225 - val_loss: 0.4153
Epoch 13/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8295 - loss: 0.4091 - val_accuracy: 0.8231 - val_loss: 0.4118
Epoch 14/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8303 - loss: 0.4065 - val_accuracy: 0.8281 - val_loss: 0.4092
Epoch 15/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8347 - loss: 0.4042 - val_accuracy: 0.8294 - val_loss: 0.4064
Epoch 16/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8348 - loss: 0.4014 - val_accuracy: 0.8325 - val_loss: 0.4034
Epoch 17/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8364 - loss: 0.3989 - val_accuracy: 0.8338 - val_loss: 0.4006
Epoch 18/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8381 - loss: 0.3962 - val_accuracy: 0.8350 - val_loss: 0.3976
Epoch 19/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8394 - loss: 0.3936 - val_accuracy: 0.8344 - val_loss: 0.3944
Epoch 20/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8397 - loss: 0.3909 - val_accuracy: 0.8363 - val_loss: 0.3920
Epoch 21/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8411 - loss: 0.3885 - val_accuracy: 0.8369 - val_loss: 0.3895
Epoch 22/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8419 - loss: 0.3858 - val_accuracy: 0.8369 - val_loss: 0.3863
Epoch 23/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8433 - loss: 0.3834 - val_accuracy: 0.8356 - val_loss: 0.3834
Epoch 24/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8448 - loss: 0.3812 - val_accuracy: 0.8363 - val_loss: 0.3825
Epoch 25/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8462 - loss: 0.3785 - val_accuracy: 0.8375 - val_loss: 0.3803
Epoch 26/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8455 - loss: 0.3770 - val_accuracy: 0.8381 - val_loss: 0.3781
Epoch 27/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8470 - loss: 0.3743 - val_accuracy: 0.8394 - val_loss: 0.3751
Epoch 28/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8486 - loss: 0.3723 - val_accuracy: 0.8394 - val_loss: 0.3726
Epoch 29/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8502 - loss: 0.3703 - val_accuracy: 0.8369 - val_loss: 0.3709
Epoch 30/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8494 - loss: 0.3686 - val_accuracy: 0.8431 - val_loss: 0.3687
Epoch 31/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8511 - loss: 0.3668 - val_accuracy: 0.8413 - val_loss: 0.3681
Epoch 32/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8520 - loss: 0.3650 - val_accuracy: 0.8425 - val_loss: 0.3653
Epoch 33/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8534 - loss: 0.3635 - val_accuracy: 0.8431 - val_loss: 0.3651
Epoch 34/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8544 - loss: 0.3619 - val_accuracy: 0.8438 - val_loss: 0.3641
Epoch 35/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8533 - loss: 0.3609 - val_accuracy: 0.8450 - val_loss: 0.3622
Epoch 36/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8556 - loss: 0.3595 - val_accuracy: 0.8444 - val_loss: 0.3617
Epoch 37/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8577 - loss: 0.3578 - val_accuracy: 0.8487 - val_loss: 0.3597
Epoch 38/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8583 - loss: 0.3567 - val_accuracy: 0.8494 - val_loss: 0.3582
Epoch 39/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8583 - loss: 0.3555 - val_accuracy: 0.8481 - val_loss: 0.3585
Epoch 40/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8578 - loss: 0.3546 - val_accuracy: 0.8512 - val_loss: 0.3576
Epoch 41/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8586 - loss: 0.3535 - val_accuracy: 0.8506 - val_loss: 0.3563
Epoch 42/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8603 - loss: 0.3524 - val_accuracy: 0.8500 - val_loss: 0.3556
Epoch 43/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8608 - loss: 0.3515 - val_accuracy: 0.8506 - val_loss: 0.3555
Epoch 44/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8598 - loss: 0.3503 - val_accuracy: 0.8494 - val_loss: 0.3539
Epoch 45/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8592 - loss: 0.3495 - val_accuracy: 0.8519 - val_loss: 0.3546
Epoch 46/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8611 - loss: 0.3483 - val_accuracy: 0.8487 - val_loss: 0.3583
Epoch 47/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8608 - loss: 0.3479 - val_accuracy: 0.8506 - val_loss: 0.3526
Epoch 48/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8616 - loss: 0.3473 - val_accuracy: 0.8500 - val_loss: 0.3518
Epoch 49/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8620 - loss: 0.3467 - val_accuracy: 0.8531 - val_loss: 0.3515
Epoch 50/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8622 - loss: 0.3459 - val_accuracy: 0.8537 - val_loss: 0.3520
Epoch 51/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8628 - loss: 0.3450 - val_accuracy: 0.8500 - val_loss: 0.3503
Epoch 52/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8627 - loss: 0.3450 - val_accuracy: 0.8537 - val_loss: 0.3518
Epoch 53/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8631 - loss: 0.3440 - val_accuracy: 0.8525 - val_loss: 0.3508
Epoch 54/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8622 - loss: 0.3434 - val_accuracy: 0.8531 - val_loss: 0.3516
Epoch 55/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8633 - loss: 0.3430 - val_accuracy: 0.8512 - val_loss: 0.3490
Epoch 56/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8644 - loss: 0.3425 - val_accuracy: 0.8525 - val_loss: 0.3489
Epoch 57/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8641 - loss: 0.3417 - val_accuracy: 0.8544 - val_loss: 0.3508
Epoch 58/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8634 - loss: 0.3412 - val_accuracy: 0.8531 - val_loss: 0.3496
Epoch 59/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8634 - loss: 0.3409 - val_accuracy: 0.8537 - val_loss: 0.3483
Epoch 60/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8634 - loss: 0.3402 - val_accuracy: 0.8519 - val_loss: 0.3478
Epoch 61/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8656 - loss: 0.3396 - val_accuracy: 0.8556 - val_loss: 0.3493
Epoch 62/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8634 - loss: 0.3398 - val_accuracy: 0.8512 - val_loss: 0.3478
Epoch 63/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8650 - loss: 0.3394 - val_accuracy: 0.8512 - val_loss: 0.3485
Epoch 64/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8639 - loss: 0.3391 - val_accuracy: 0.8525 - val_loss: 0.3476
Epoch 65/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8633 - loss: 0.3386 - val_accuracy: 0.8544 - val_loss: 0.3501
Epoch 66/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8644 - loss: 0.3384 - val_accuracy: 0.8544 - val_loss: 0.3475
Epoch 67/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8644 - loss: 0.3377 - val_accuracy: 0.8531 - val_loss: 0.3488
Epoch 68/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8662 - loss: 0.3375 - val_accuracy: 0.8525 - val_loss: 0.3459
Epoch 69/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8631 - loss: 0.3379 - val_accuracy: 0.8525 - val_loss: 0.3468
Epoch 70/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8648 - loss: 0.3373 - val_accuracy: 0.8525 - val_loss: 0.3461
Epoch 71/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8634 - loss: 0.3368 - val_accuracy: 0.8550 - val_loss: 0.3474
Epoch 72/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8628 - loss: 0.3369 - val_accuracy: 0.8537 - val_loss: 0.3472
Epoch 73/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8652 - loss: 0.3367 - val_accuracy: 0.8544 - val_loss: 0.3462
Epoch 74/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8645 - loss: 0.3360 - val_accuracy: 0.8537 - val_loss: 0.3461
Epoch 75/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8639 - loss: 0.3358 - val_accuracy: 0.8525 - val_loss: 0.3459
Epoch 76/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8633 - loss: 0.3356 - val_accuracy: 0.8531 - val_loss: 0.3469
Epoch 77/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8652 - loss: 0.3353 - val_accuracy: 0.8550 - val_loss: 0.3460
Epoch 78/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8628 - loss: 0.3351 - val_accuracy: 0.8531 - val_loss: 0.3457
Epoch 79/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8639 - loss: 0.3351 - val_accuracy: 0.8544 - val_loss: 0.3465
Epoch 80/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8641 - loss: 0.3348 - val_accuracy: 0.8544 - val_loss: 0.3465
Epoch 81/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8644 - loss: 0.3347 - val_accuracy: 0.8537 - val_loss: 0.3462
Epoch 82/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8661 - loss: 0.3344 - val_accuracy: 0.8537 - val_loss: 0.3458
Epoch 83/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8653 - loss: 0.3339 - val_accuracy: 0.8537 - val_loss: 0.3464
Epoch 84/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8637 - loss: 0.3339 - val_accuracy: 0.8525 - val_loss: 0.3461
Epoch 85/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8661 - loss: 0.3335 - val_accuracy: 0.8544 - val_loss: 0.3456
Epoch 86/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8655 - loss: 0.3337 - val_accuracy: 0.8531 - val_loss: 0.3461
Epoch 87/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8630 - loss: 0.3338 - val_accuracy: 0.8531 - val_loss: 0.3473
Epoch 88/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8647 - loss: 0.3334 - val_accuracy: 0.8537 - val_loss: 0.3469
Epoch 89/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8634 - loss: 0.3329 - val_accuracy: 0.8550 - val_loss: 0.3466
Epoch 90/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8653 - loss: 0.3332 - val_accuracy: 0.8531 - val_loss: 0.3451
Epoch 91/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8641 - loss: 0.3325 - val_accuracy: 0.8544 - val_loss: 0.3453
Epoch 92/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8658 - loss: 0.3323 - val_accuracy: 0.8537 - val_loss: 0.3465
Epoch 93/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8656 - loss: 0.3324 - val_accuracy: 0.8531 - val_loss: 0.3467
Epoch 94/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8634 - loss: 0.3324 - val_accuracy: 0.8544 - val_loss: 0.3461
Epoch 95/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8652 - loss: 0.3322 - val_accuracy: 0.8525 - val_loss: 0.3459
Epoch 96/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8652 - loss: 0.3320 - val_accuracy: 0.8531 - val_loss: 0.3460
Epoch 97/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8647 - loss: 0.3317 - val_accuracy: 0.8537 - val_loss: 0.3456
Epoch 98/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8655 - loss: 0.3314 - val_accuracy: 0.8531 - val_loss: 0.3459
Epoch 99/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8656 - loss: 0.3316 - val_accuracy: 0.8537 - val_loss: 0.3453
Epoch 100/100
200/200 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8645 - loss: 0.3309 - val_accuracy: 0.8525 - val_loss: 0.3455

In [180]:
model.layers[0].get_weights()

[array([[ 0.02758062, -0.0288856 ,  0.2616853 ,  0.24199238, -0.16160753,
          0.61367995, -0.04882389, -0.19509064, -0.67194   ,  0.33723313,
         -0.0133842 ],
        [-0.09564524, -0.06703231, -0.16649629,  0.08720183,  0.24811825,
          1.0638853 , -0.30173528,  0.24950902,  0.25466585,  0.03431223,
         -0.10912768],
        [-0.51351523,  0.18036604, -0.3998376 , -1.0514145 ,  1.9657065 ,
          0.30303097,  1.6534935 ,  2.0258076 ,  0.30520532, -1.7347903 ,
          0.74232864],
        [-0.04701532, -0.4174651 , -0.09381046,  0.19060136, -0.17717087,
          0.47384274, -0.1362804 ,  0.27485216, -0.10325868,  0.04542637,
          0.04818775],
        [ 0.8744104 ,  0.91923463,  0.06035872, -0.8308736 , -0.1023328 ,
         -0.6239163 , -0.48772246, -0.06257944, -0.21755826, -0.44729197,
          0.5808438 ],
        [ 1.2798882 , -1.0734109 ,  0.39275354, -0.6635828 ,  0.3856197 ,
         -0.4221469 ,  0.72490424, -0.18772158, -0.6220501 , -0.54873574,
          3.5877502 ],
        [ 0.12001749,  0.16334678, -0.6483621 ,  0.42035106, -0.3794201 ,
         -0.21751735, -0.27643237,  0.500592  , -0.4920573 , -0.17822167,
          0.06435138],
        [ 0.11890353,  0.92991275, -1.1448445 ,  0.1386652 ,  0.40672052,
          0.87748665,  0.4856846 ,  1.6148411 ,  1.2958698 , -0.18521778,
          0.3544256 ],
        [-0.02990622, -0.3590154 , -0.5962013 , -0.5586843 , -0.20443234,
         -0.01389546,  0.08417647,  0.10265879,  0.07964163,  0.0995434 ,
         -0.10249462],
        [-0.16229302,  0.03219766,  0.30193684, -0.09725115,  0.19117893,
          0.2624621 ,  0.37501422, -0.61840993,  0.06339394,  0.04631508,
         -0.15298982],
        [-0.28964293,  0.14061595, -0.12472767, -1.0913237 , -0.15002236,
         -0.35959393, -0.09112326, -0.40751067, -0.36915737, -0.6159012 ,
         -0.4812425 ]], dtype=float32),
 array([-1.4757274 ,  0.71749073,  0.2708383 , -0.06829087, -0.6678843 ,
        -0.30866942, -0.23731926,  0.24132842,  0.13290446,  0.2843359 ,
         1.2657179 ], dtype=float32)]

In [181]:
model.predict(X_test_scaled)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step

array([[0.03419928],
       [0.11311233],
       [0.06312232],
       ...,
       [0.01553384],
       [0.02499639],
       [0.28400758]], dtype=float32)

->Now we set up the prediction as :

->yes:1
->No:0

In [182]:
y_log = model.predict(X_test_scaled)
y_pred = (y_log > 0.5).astype(int)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 878us/step

In [183]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.863